    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Hello There</h2>
              <br/>
                <p>My name is Rochelle Shen. </p>
                <p>I'm 21 years old. I am a student at the University of Pennsylvania, although I'm currently taking a year off to work.</p>
                <p>I have many passions, including neuroscience, philosophy, computer science and data, but the biggest is the desire to make a positive change in the world.</p>
                <p>This is a website for me to document some of my many intellectual pursuits and physical adventures.</p>
                <br/>
              </div>
        </div>
    </section>
